.course{
    width: 300px;
    padding: 20px;
    border: 1px solid firebrick;
    float: left; 
    margin-right: 10px;
    margin-bottom: 10px;
}
.clear{
    clear: both;
}
.container{
    margin: 0 auto;
    width: 1300px;
    background-color:powderblue;
}
.photo{
    width: 250px;
    height: 250px;
    object-fit:cover;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.para{
    width: 500px;
}
.digital{
    border: 2px solid snow;
    width: 600px;
    margin-right: 20px;
}
.containerflex{
    width: 1600px;
    display: flex;
    flex-wrap: wrap;

}